/ConfigProject/Library
/ConfigProject/.vs
/ConfigProject/.idea
/ConfigProject/Temp
/ConfigProject/obj
/ConfigProject/*.sln
/ConfigProject/*.user
/ConfigProject/*.userprefs
/ConfigProject/*.csproj
/ConfigProject/DataPC
/ConfigProject/DataAndroid
/ConfigProject/DataIOS
/ConfigProject/DataMAC
/ConfigProject/MAC_APP
/ConfigProject/PC_APP
/ConfigProject/SaveLevels
/ConfigProject/Assets/StreamingAssets/DataPC.7z
/ConfigProject/Assets/StreamingAssets/DataPC.7z.meta
/ConfigProject/Assets/StreamingAssets/DataAndroid.7z
/ConfigProject/Assets/StreamingAssets/DataAndroid.7z.meta
/ConfigProject/Assets/StreamingAssets/DataIOS.7z
/ConfigProject/Assets/StreamingAssets/DataIOS.7z.meta
/ConfigProject/Assets/StreamingAssets/DataMAC.7z
/ConfigProject/Assets/StreamingAssets/DataMAC.7z.meta
/ConfigProject/Assets/StreamingAssets/levels
/ConfigProject/Assets/StreamingAssets/TmpLevel
/ConfigProject/Assets/StreamingAssets/TmpLevel.meta
/ConfigProject/ReplayLog
/ConfigProject/.vscode
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs
ConfigProject/Assets/Temp/
ConfigProject/Assets/StreamingAssets/build_info.txt
ConfigProject/Assets/StreamingAssets/build_info.txt.meta
ConfigProject/Assets/.vscode/launch.json
ConfigProject/Assets/.vscode/tasks.json
/build/android/*
/build/*
ConfigProject/fmod_editor.log
/ConfigProject/fmod_editor.log
